<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/><!-- 开启全局缓存 -->
        <setting name="useGeneratedKeys" value="true"/><!-- 允许自动生成主键 -->
        <setting name="defaultExecutorType" value="REUSE"/><!-- 配置默认执行器 -->
        <setting name="logImpl" value="SLF4J"/><!-- 指定 MyBatis 所用日志的具体实现 -->
    </settings>

</configuration>